<h1>Password Generator</h1>
<div>
    <label for="label1">Enter Lenght</label>
    <input id="label1" type="text" />
</div>
<div>
    <label for="checkbox1">Use Letters</label>
    <input (change)="onCheckBoxClick($event)" id="checkbox1" type="checkbox" />
</div>
<div>
    <label for="checkbox2">Use Numbers</label>
    <input (change)="onCheckBoxClick($event)" id="checkbox2" type="checkbox" />
</div>
<div>
    <label for="checkbox3">Use Symbols</label>
    <input (change)="onCheckBoxClick($event)" id="checkbox3" type="checkbox" />
</div>
<div>
    <button (click)="onButtonClick()">Generate</button>
</div>
<h1>returns value directly from what is stored in a variable</h1>
<div>
    <label for="label2">Your Password</label>
    <input id="label2" type="text" [value]="password" />
</div>
<h1>returns value from a function</h1>
<div>
    <label for="label3">Your Password</label>
    <input id="label3" type="text" [value]="getValue()" />
</div>